{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@components/(.*)$", "^[./]" ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
